@model List<Movie>
@{
    ViewData["Title"] = "ICinema Афіша";
}

<h1 class="movie-catalog__title">Афіша кінотеатру ICinema</h1>
<div class="movie-catalog">
    @foreach (var movie in Model)
    {
        <div class="movie-card">
            <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.MovieId" class="movie-poster">
                <img src="@movie.PosterPath" alt="@movie.PosterPath">
            </a>
            <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.MovieId" class="movie-title">
                @movie.MovieName
            </a>
        </div>
    }
</div>