@model SeatsCatalogViewModel
@{
    ViewData["Title"] = "ICinema";
}

<div class="seats-catalog">
    <div class="content__left-block">
        <div class="session-card">
            <div class="session-movie">
                <div class="poster-container-mini">
                    <img src="@Model.Session.Movie.PosterPath" alt="@Model.Session.Movie.MovieName poster" />
                </div>
                <div class="session-movie__info">
                    <h3 class="session-movie__title">
                        @Model.Session.Movie.MovieName
                    </h3>
                    <div class="session-movie__properties">
                        <div class="session-properties">
                            <div class="propertie">технологія: @Model.Session.Hall.Technology.TechnologyName</div>
                            <div class="propertie">формат: @Model.Session.Format</div>
                        </div>
                        <div class="movie-properties">Вікове обмеження: @Model.Session.Movie.AgeRestriction+</div>
                    </div>
                </div>
            </div>
            <div class="session-datetime">
                <div class="datetime">
                    <img src="~/images/icons/calendar.png" />
                    <span>@Model.Session.Date, @Model.Session.Date.DayOfWeek</span>
                </div>
                <div class="datetime">
                    <img src="~/images/icons/clock.png" />
                    <span>@Model.Session.Time</span>
                </div>
            </div>
        </div>
        @if (Model.Cart.Tickets.Count > 0 && Model.Cart.Tickets.First().SessionId == Model.Session.SessionId)
        {
            <div class="cart-tickets">
                @foreach (var ticket in Model.Cart.Tickets)
                {
                    <div class="cart-tickets__item">
                        <div class="ticket">
                            <div class="ticket__placement">
                                <p>@ticket.Seat.RowNumber ряд</p>
                                <p>@ticket.Seat.SeatNumber місце</p>
                            </div>
                            <p>@ticket.Price грн.</p>
                        </div>
                        <div class="cross-icon-container">
                            <img src="/images/icons/cross.png" alt="X" />
                        </div>
                    </div>
                }
            </div>
            <div>
                <a 
                    asp-controller="cart"
                    asp-action="AddToCart"
                    class="button button-primary make-order-button"
                >
                    <div>Додати в кошик</div>
                    <div>@Model.Cart.Tickets.Sum(t => t.Price) грн</div>
                </a>
            </div>
        }
    </div>
    <div class="content__right-block">
        <div class="scheme-legend">
            @foreach (var seat in Model.SeatViewModels.DistinctBy(s => s.Seat.SeatTypeId))
            {
                <div class="scheme-legend__item">
                    <label for="seat-type-button">@seat.Seat.SeatType.SeatTypeName</label>
                    <div class="button @seat.StyleType inactive" id="seat-type-button"></div>
                    <label for="seat-type-button">@seat.Price грн</label>
                </div>
            }
        </div>
        <div class="scheme">
            <div class="scheme__screen">
                <hr class="screen-line"/>
                <p class="screen-label">Екран</p>
            </div>
            <div class="scheme__seats">
                @for(int i = 0; i < Model.Rows.Count(); i++)
                {
                    <div class="scheme-row">
                        @if (Model.SeatViewModels
                                .Where(s => s.Seat.RowNumber == i+1)
                                .Select(s => s.Seat.SeatTypeId)
                                .All(st => st == (int)SeatTypeEnum.VIP))
                        {
                            <div class="row-vip">
                                @foreach (var seatViewModel in Model.SeatViewModels)
                                {
                                    @if (seatViewModel.Seat.RowNumber == @Model.Rows[i])
                                    {
                                        <a 
                                            class="button @seatViewModel.StyleType @seatViewModel.StyleSelected @seatViewModel.StyleActive"
                                            id="select-seat-button"
                                            asp-controller="cart"
                                            asp-action="SelectTicket"
                                            asp-route-sessionId="@Model.Session.SessionId"
                                            asp-route-seatId="@seatViewModel.Seat.SeatId"
                                            asp-route-price="@seatViewModel.Price.ToString(CultureInfo.InvariantCulture)"
                                        >@seatViewModel.Seat.SeatNumber</a>
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <div class="row-default">
                                @foreach (var seatViewModel in Model.SeatViewModels)
                                {
                                    @if (seatViewModel.Seat.RowNumber == @Model.Rows[i])
                                    {
                                        <a 
                                            class="button @seatViewModel.StyleType @seatViewModel.StyleSelected @seatViewModel.StyleActive"
                                            id="select-seat-button"
                                            asp-controller="cart"
                                            asp-action="SelectTicket"
                                            asp-route-sessionId="@Model.Session.SessionId"
                                            asp-route-seatId="@seatViewModel.Seat.SeatId"
                                            asp-route-price="@seatViewModel.Price.ToString(CultureInfo.InvariantCulture)"
                                        >@seatViewModel.Seat.SeatNumber</a>
                                    }
                                }
                            </div>
                        }
                        <div class="row-number">@Model.Rows[i] Ряд</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

