@model List<Order>
@{
    ViewData["title"] = "Історія замовлень";
}

<div class="orders-history-page">
    @foreach(var order in Model)
    {
        <div class="order">
            <p class="order__orderid">№@order.OrderId</p>
            <div class="order__session-info">
                <h3>@order.Tickets.First().Session.Movie.MovieName</h3>
                <div class="session-info__session">
                    <div class="datetime">
                        <img src="~/images/icons/calendar.png" />
                        <span>@order.Tickets.First().Session.Date, @order.Tickets.First().Session.Date.DayOfWeek</span>
                    </div>
                    <div class="datetime">
                        <img src="~/images/icons/clock.png" />
                        <span>@order.Tickets.First().Session.Time</span>
                    </div>
                    <div class="datetime">Зал №@order.Tickets.First().Session.HallId @order.Tickets.First().Session.Hall.HallName</div>
                </div>
            </div>
            <div class="order__tickets">
                @foreach (var ticket in order.Tickets)
                {
                    <div class="order__ticket">
                        <p>@ticket.Seat.RowNumber ряд</p>
                        <p>@ticket.Seat.SeatNumber місце</p>
                        <p>@ticket.Price грн.</p>
                    </div>
                }
            </div>
            <div class="order__summary">
                <p>Загалом: @order.Price грн.</p>
                <p>Статус замовлення: @order.OrderStatus</p>
            </div>
        </div>
    }
</div>
