@model ProfileViewModel
@{
    ViewData["Title"] = "Мій кабінет";
}
<div class="block">

    <ul class="nav nav-tabs tabs-control" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Ваш профіль</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders-tab-pane" type="button" role="tab" aria-controls="orders-tab-pane" aria-selected="false">Історія замовлень</button>
        </li>
    </ul>


    <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade show active profile-information" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="align-profile-content" id="show-profile">
                <div class="col-md-6 block-center">
                    <div class="row bottom-border p-lines ">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Ім'я:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="firstName-field" value="@Model.FirstName">
                        </div>
                    </div>
                    <div class="row bottom-border p-lines">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Прізвище:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="lastName-field" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="row bottom-border p-lines">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="email-field" value="@Model.Email">

                        </div>
                    </div>
                    <div class="row bottom-border p-lines">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Телефон:</label>
                        <div class="col-sm-10">
                            <input type="phone" readonly class="form-control-plaintext" id="phone-field" value="@Model.PhoneNumber">
                        </div>
                    </div>
                    <div class="align-right">
                        <button class="button-primary button1" id="redact">Редагувати</button>
                    </div>
                </div>
            </div>


            <div class="align-profile-content" id="edit-profile">

                <form asp-action="MyProfile" method="post" asp-antiforgery="true">

                    @Html.HiddenFor(x => x.IsEditMode)
                    @Html.HiddenFor(x => x.Orders)

                    <div class="col-md-6 block-center">
                        <div class="row bottom-border p-lines ">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Ім'я:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" id="firstName-field" value="@Model.FirstName" asp-for="FirstName">
                            </div>
                        </div>
                        <span asp-validation-for="FirstName"></span>
                        <div class="row bottom-border p-lines">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Прізвище:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" id="lastName-field" value="@Model.LastName" asp-for="LastName">
                            </div>
                        </div>
                        <span asp-validation-for="LastName"></span>
                        <div class="row bottom-border p-lines">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" id="email-field" value="@Model.Email" asp-for="Email">
                            </div>
                        </div>
                        <span asp-validation-for="Email"></span>
                        <div class="row bottom-border p-lines">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Телефон:</label>
                            <div class="col-sm-10">
                                <input type="phone" class="form-control-plaintext" id="phone-field" value="@Model.PhoneNumber" asp-for="PhoneNumber">
                            </div>
                        </div>
                        <span asp-validation-for="PhoneNumber"></span>

                        <div class="row bottom-border p-lines password-line">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Пароль:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control form-control-plaintext" id="password-change-field" value="@Model.Password" asp-for="Password">
                                <button type="button" id="togglePasswordChange">
                                    <img src="~/images/icons/eye-visible.png" class="eye-button" />
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="Password"></span>

                        <div asp-validation-summary="ModelOnly" class="text-danger mt-4"></div>

                        <div class="align-right">
                            <div class="form-group">
                                <button type="submit" class="button-primary button1" id="save">Зберегти</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="tab-pane fade" id="orders-tab-pane" role="tabpanel" aria-labelledby="orders-tab" tabindex="0">

            <div class="orders-history-page">
                @if (Model.Orders != null)
                {
                    @foreach (var order in Model.Orders)
                    {
                        <div class="order mb-4">
                            <p class="order__orderid">№@order.OrderId</p>
                            <div class="order__session-info">
                                <h3>@order.Tickets.First().Session.Movie.MovieName</h3>
                                <div class="session-info__session">
                                    <div class="datetime">
                                        <img src="~/images/icons/calendar.png" />
                                        <span>@order.Tickets.First().Session.Date, @order.Tickets.First().Session.Date.DayOfWeek</span>
                                    </div>
                                    <div class="datetime">
                                        <img src="~/images/icons/clock.png" />
                                        <span>@order.Tickets.First().Session.Time</span>
                                    </div>
                                    <div class="datetime">Зал №@order.Tickets.First().Session.Hall.HallId @order.Tickets.First().Session.Hall.HallName</div>
                                </div>
                            </div>
                            <div class="order__tickets">
                                @foreach (var ticket in order.Tickets)
                                {
                                    var hall = ticket.Session.Hall;

                                    var seat = hall.Seats.First(x => x.SeatId == ticket.SeatId);

                                    <div class="order__ticket">
                                        <p>@seat.RowNumber ряд</p>
                                        <p>@seat.SeatNumber місце</p>
                                        <p>@ticket.Price грн.</p>
                                    </div>

                                }
                            </div>
                            <div class="order__summary">
                                <p>Загалом: @order.Price грн.</p>
                                <p>Статус замовлення: @order.OrderStatus</p>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        let model = @Html.Raw(Json.Serialize(Model));

        $(document).ready(function () {

            $("#togglePasswordChange").click(function ()
            {
                let passwordField = $("#password-change-field");
                let passwordFieldType = passwordField.attr('type');

                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    this.innerHTML = `<img src="../images/icons/eye-invisible.png" class="eye-button"/>`;
                } else {
                    passwordField.attr('type', 'password');
                    this.innerHTML = `<img src="../images/icons/eye-visible.png" class="eye-button"/>`;
                }
            });

            if (model.isEditMode == true) {
                $("#show-profile").hide();
                $("#edit-profile").show()
            }
            else {
                $("#edit-profile").hide();
                $("#redact").click(function () {
                    $("#show-profile").hide();
                    $("#edit-profile").show()
                });
            }
        });

    </script>
}